In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('gulf_ships_BIG.csv')

In [4]:
data.head(10)

,MMSI,ShipName,Latitude,Longitude,Cog,TrueHeading,ShipType,Draught,Length,Time
0,12345678,DMA,25.261970,55.267157,241.2,511.0,NaN,NaN,NaN,2026-01-18T22:55:24.928317
1,210621000,WILLEM VAN ORANJE,25.356173,54.872110,127.1,130.0,NaN,NaN,NaN,2026-01-18T22:55:56.080302
2,222222222,NaN,25.200367,55.227883,132.2,136.0,NaN,NaN,NaN,2026-01-18T22:58:03.850789
3,232032637,LEGENDE,25.209275,55.234998,315.3,323.0,37.0,2.7,NaN,2026-01-18T22:54:51.953651
4,232064711,PETROJARL ROSEBANK,25.247380,55.262697,92.0,122.0,0.0,0.0,NaN,2026-01-18T22:59:51.061287
5,235073785,CYBI ISLAND,25.177965,55.213382,249.8,227.0,52.0,2.7,NaN,2026-01-18T22:54:42.600363
6,244030951,GTO 202,25.174853,55.199940,360.0,511.0,NaN,NaN,NaN,2026-01-18T22:55:28.387898
7,244770069,COASTAL CHARIOT,25.192578,55.209305,353.3,264.0,NaN,NaN,NaN,2026-01-18T22:55:14.070889
8,244810178,CONQUEST MB1,25.260983,55.259467,266.0,511.0,90.0,4.1,NaN,2026-01-18T23:02:43.096052
9,245048000,COASTAL BOXER,25.172920,55.206765,47.7,262.0,52.0,2.2,NaN,2026-01-18T22:54:51.538269

In [9]:
data.drop('Time', axis=1)

,MMSI,ShipName,Latitude,Longitude,Cog,TrueHeading,ShipType,Draught,Length
0,12345678,DMA,25.261970,55.267157,241.2,511.0,NaN,NaN,NaN
1,210621000,WILLEM VAN ORANJE,25.356173,54.872110,127.1,130.0,NaN,NaN,NaN
2,222222222,NaN,25.200367,55.227883,132.2,136.0,NaN,NaN,NaN
3,232032637,LEGENDE,25.209275,55.234998,315.3,323.0,37.0,2.7,NaN
4,232064711,PETROJARL ROSEBANK,25.247380,55.262697,92.0,122.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
71,636020243,MARSOL SCAMANDER,25.269532,55.256817,265.0,511.0,NaN,NaN,NaN
72,636020246,MONJASA SERVER,25.212695,55.065693,215.6,218.0,89.0,6.7,NaN
73,636021496,ZAKHER,25.444893,55.035067,113.4,263.0,NaN,NaN,NaN
74,636023914,CPG ALMA,25.264982,55.261677,113.9,192.0,NaN,NaN,NaN
75,720017000,MIDAS 7,25.271310,55.287680,33.9,511.0,70.0,3.6,NaN

In [15]:
df = data[data['ShipType'].notna()]

In [16]:
df.head(10)

,MMSI,ShipName,Latitude,Longitude,Cog,TrueHeading,ShipType,Draught,Length,Time
3,232032637,LEGENDE,25.209275,55.234998,315.3,323.0,37.0,2.7,NaN,2026-01-18T22:54:51.953651
4,232064711,PETROJARL ROSEBANK,25.247380,55.262697,92.0,122.0,0.0,0.0,NaN,2026-01-18T22:59:51.061287
5,235073785,CYBI ISLAND,25.177965,55.213382,249.8,227.0,52.0,2.7,NaN,2026-01-18T22:54:42.600363
8,244810178,CONQUEST MB1,25.260983,55.259467,266.0,511.0,90.0,4.1,NaN,2026-01-18T23:02:43.096052
9,245048000,COASTAL BOXER,25.172920,55.206765,47.7,262.0,52.0,2.2,NaN,2026-01-18T22:54:51.538269
13,249552000,MATADOR UNO,25.268340,55.259327,NaN,NaN,52.0,5.5,NaN,2026-01-18T22:57:12.858630
14,256235000,MEIN SCHIFF 5,25.250927,55.267842,144.6,130.0,60.0,8.2,NaN,2026-01-18T22:55:31.582023
16,319015100,SUNRAYS,25.216028,55.232763,360.0,289.0,37.0,3.9,NaN,2026-01-18T22:57:15.928927
17,319029600,FALCON,25.261968,55.275690,135.1,358.0,90.0,2.6,NaN,2026-01-18T22:58:24.744244
19,319065700,BLISS,25.210492,55.233920,173.5,4.0,37.0,2.4,NaN,2026-01-18T22:56:35.555742