In [7]:
import pandas as pd
import json

In [8]:
with open('./marinetraffic_data_2.json', 'r') as f:
    json_data = json.load(f)

In [9]:
vessels = json_data['data']['rows']

In [10]:
df = pd.DataFrame(vessels)

In [11]:
df.head()

,LAT,LON,SPEED,COURSE,HEADING,ELAPSED,DESTINATION,FLAG,LENGTH,SHIPNAME,SHIPTYPE,SHIP_ID,WIDTH,L_FORE,W_LEFT
0,37.964596,72.83345,1,312,None,1128,CLASS B,IN,0,GIRIJA II,6,654975,0,0,0

In [12]:
df.set_index('SHIP_ID', inplace=True)

In [13]:
df.head()

,LAT,LON,SPEED,COURSE,HEADING,ELAPSED,DESTINATION,FLAG,LENGTH,SHIPNAME,SHIPTYPE,WIDTH,L_FORE,W_LEFT
SHIP_ID,,,,,,,,,,,,,,
654975,37.964596,72.83345,1,312,None,1128,CLASS B,IN,0,GIRIJA II,6,0,0,0