In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 20)

In [3]:
df = pd.read_csv('all_ships.csv')

In [4]:
df.head(20)

,SHIP_ID,LAT,LON,SPEED,COURSE,HEADING,ELAPSED,DESTINATION,FLAG,LENGTH,SHIPNAME,SHIPTYPE,WIDTH,L_FORE,W_LEFT,ROT,DWT,GT_SHIPTYPE,TYPE_IMG,TYPE_NAME,STATUS_NAME
0,654975,37.964596,72.833450,1.0,312.0,NaN,1128,CLASS B,IN,0.0,GIRIJA II,6,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,712039,22.637720,69.622772,106.0,234.0,242.0,3,FOR ORDERS,MH,334.0,DHT EUROPE,8,60.0,277.0,25.0,10.0,317713.0,17.0,NaN,NaN,NaN
2,2601376,22.323820,68.718918,0.0,238.0,3.0,235,FUJAIRAH,IN,332.0,DESH VIBHOR,8,59.0,297.0,15.0,0.0,316635.0,17.0,NaN,NaN,NaN
3,417205,22.598110,69.278625,136.0,276.0,281.0,2,FJR UAE,LR,332.0,SERIFOS,8,60.0,281.0,36.0,3.0,309396.0,17.0,NaN,NaN,NaN
4,198486,22.590055,69.805664,0.0,137.0,46.0,5,IN SIK,PA,333.0,OMEGA TRADER,8,60.0,282.0,28.0,-1.0,305206.0,17.0,NaN,NaN,NaN
5,1847,22.677912,69.935219,24.0,67.0,66.0,2,INSIK,MT,333.0,HOUSTON,8,60.0,276.0,27.0,0.0,299999.0,17.0,NaN,NaN,NaN
6,9581192,22.079887,68.794632,167.0,27.0,26.0,3,INMUN,LR,366.0,MSC ALESSIA,7,51.0,115.0,38.0,-1.0,200679.0,11.0,NaN,NaN,NaN
7,125579,22.505911,69.543892,0.0,180.0,101.0,2,IN SAL,LR,289.0,EKATERINI V,7,45.0,247.0,16.0,0.0,173555.0,6.0,NaN,NaN,NaN
8,458425,22.738251,69.700630,0.0,5.0,270.0,7,SGSIN,PA,365.0,MSC VALERIA,7,51.0,142.0,28.0,0.0,165966.0,11.0,NaN,NaN,NaN
9,368418,22.501753,69.660019,3.0,88.0,358.0,3,FOR ORDER,LT,274.0,BLUE,8,50.0,230.0,30.0,0.0,165293.0,17.0,NaN,NaN,NaN
10,212572,22.573967,69.678253,1.0,88.0,109.0,2,FOR ORDERS,SL,274.0,PRISMA,8,50.0,231.0,25.0,0.0,164565.0,17.0,NaN,NaN,NaN
11,754761,22.846634,68.769302,121.0,300.0,297.0,5,AE KLF,MH,274.0,YANNIS P,8,48.0,231.0,32.0,0.0,158149.0,17.0,NaN,NaN,NaN
12,4385468,21.616756,68.793381,5.0,34.0,359.0,7,INVAD,MT,276.0,ANTIGUA I,8,48.0,225.0,42.0,0.0,157391.0,71.0,NaN,NaN,NaN
13,1601,21.997097,68.043251,131.0,247.0,NaN,1357,EGSCN,LR,248.0,MARETA,8,43.0,211.0,14.0,NaN,115795.0,17.0,NaN,NaN,NaN
14,9732584,22.499580,69.836571,0.0,296.0,310.0,4,"SIKKA,INDIA",LR,249.0,KARPATHOS,8,44.0,204.0,26.0,0.0,115059.0,17.0,NaN,NaN,NaN
15,5429491,22.297253,68.473984,0.0,348.0,258.0,95,FOR ORDER,AZ,250.0,KARABAKH,8,44.0,214.0,28.0,0.0,114667.0,17.0,NaN,NaN,NaN
16,727226,22.651693,69.148560,111.0,260.0,253.0,8,INBOM,LR,250.0,IDOMENEAS,7,43.0,208.0,17.0,0.0,114167.0,6.0,NaN,NaN,NaN
17,374974,22.225611,68.713722,1.0,311.0,225.0,7,INDIA FOR ORDER,CM,256.0,MAGNUS,8,44.0,213.0,27.0,0.0,111920.0,17.0,NaN,NaN,NaN
18,157174,22.632244,69.020500,170.0,263.0,NaN,5,PKKHI,LR,346.0,MSC DOMNA X,7,42.0,244.0,21.0,NaN,110387.0,11.0,NaN,NaN,NaN
19,555604,21.955326,68.742577,1.0,299.0,230.0,7,INVDN,SL,244.0,TIBURON,8,42.0,200.0,32.0,0.0,109571.0,71.0,NaN,NaN,NaN

In [5]:
df["TYPE_NAME"].unique()

array([nan, 'Tanker', 'Cargo Vessel', 'Tugs & Special Craft', 'Fishing',
       'Passenger Vessel', 'Pleasure Craft', 'Unspecified Ship'],
      dtype=object)

In the above command, we identify all possible shiptypes in the `TYPE_NAME` category, which is the fallback for `GT_SHIPTYPE`.  
Next, we will drop all ships that are of the categories - Tugs, Fishing, Passenger, Pleasure and Unspecified

,SHIP_ID,LAT,LON,SPEED,COURSE,HEADING,ELAPSED,DESTINATION,FLAG,LENGTH,SHIPNAME,SHIPTYPE,WIDTH,L_FORE,W_LEFT,ROT,DWT,GT_SHIPTYPE,TYPE_IMG,TYPE_NAME,STATUS_NAME
144,TmpnNE56WXlOamc0TnpZeU5qZzROdz09LWs1RFFMTWF5Wm...,40.279999,50.293335,0.0,327.0,NaN,398,NaN,NaN,NaN,[SAT-AIS],8,NaN,NaN,NaN,NaN,NaN,NaN,8.0,Tanker,Underway using Engine
145,TkRRek9Ua3dORFF6T1Rrd05EUXpPUT09LWllUGFTR3E5Zk...,40.338333,49.908333,0.0,233.0,NaN,13,NaN,NaN,NaN,[SAT-AIS],8,NaN,NaN,NaN,NaN,NaN,NaN,8.0,Tanker,At Anchor
146,T0RrME5ESXdPRGswTkRJd09EazBOQT09LUQ3SVlqWmNQNl...,40.353333,49.911667,0.0,309.0,NaN,450,NaN,NaN,NaN,[SAT-AIS],8,NaN,NaN,NaN,NaN,NaN,NaN,8.0,Tanker,At Anchor
147,TmpZd01UTXpOall3TVRNek5qWXdNUT09LUdOWWlmOXQ4YU...,40.193333,50.814999,0.0,288.0,NaN,18,NaN,NaN,NaN,[SAT-AIS],8,NaN,NaN,NaN,NaN,NaN,NaN,8.0,Tanker,Underway using Engine
148,Tmpnek1USXdOamd6TVRJd05qZ3pNUT09LVFNWTJpdlVzTW...,40.158333,50.076668,90.0,95.0,NaN,76,NaN,NaN,NaN,[SAT-AIS],8,NaN,NaN,NaN,NaN,NaN,NaN,8.0,Tanker,Underway using Engine
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1848,8991946,27.530748,49.775887,91.0,0.0,NaN,413,CLASS B,SA,16.0,MAZLOUM ALAWAL,2,5.0,8.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN
1849,5399438,25.810844,55.949886,NaN,NaN,NaN,3,NaN,AE,46.0,RAKP ATON V09,1,72.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1850,5452316,26.341368,56.415421,2.0,0.0,NaN,131,KUMZAR,OM,40.0,GHUMAYS 2,3,12.0,20.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
1851,TVRZMU1qTXdNVFkxTWpNd01UWTFNZz09LUVsVFhZekNqbF...,26.340000,56.415001,0.0,NaN,NaN,88,NaN,NaN,NaN,[SAT-AIS],3,NaN,NaN,NaN,NaN,NaN,NaN,3.0,Tugs & Special Craft,At Anchor
1852,9894419,26.237427,50.215679,10.0,251.0,NaN,1223,CLASS B,SA,10.0,HAYAT AL BAHAR,9,3.0,8.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df["SHIPTYPE"].unique()

array([6, 8, 7, 3, 2, 1, 0, 9, 4])

In [8]:
df.drop_duplicates()

,SHIP_ID,LAT,LON,SPEED,COURSE,HEADING,ELAPSED,DESTINATION,FLAG,LENGTH,SHIPNAME,SHIPTYPE,WIDTH,L_FORE,W_LEFT,ROT,DWT,GT_SHIPTYPE,TYPE_IMG,TYPE_NAME,STATUS_NAME
0,654975,37.964596,72.833450,1.0,312.0,NaN,1128,CLASS B,IN,0.0,GIRIJA II,6,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,712039,22.637720,69.622772,106.0,234.0,242.0,3,FOR ORDERS,MH,334.0,DHT EUROPE,8,60.0,277.0,25.0,10.0,317713.0,17.0,NaN,NaN,NaN
2,2601376,22.323820,68.718918,0.0,238.0,3.0,235,FUJAIRAH,IN,332.0,DESH VIBHOR,8,59.0,297.0,15.0,0.0,316635.0,17.0,NaN,NaN,NaN
3,417205,22.598110,69.278625,136.0,276.0,281.0,2,FJR UAE,LR,332.0,SERIFOS,8,60.0,281.0,36.0,3.0,309396.0,17.0,NaN,NaN,NaN
4,198486,22.590055,69.805664,0.0,137.0,46.0,5,IN SIK,PA,333.0,OMEGA TRADER,8,60.0,282.0,28.0,-1.0,305206.0,17.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2894,6158657,12.566475,71.908226,63.0,266.0,NaN,873,CLASS B,IN,26.0,TMM FISHING BOAT,2,6.0,16.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
2895,7172814,11.829759,74.488190,20.0,344.0,NaN,483,CLASS B,IN,26.0,LAENA MATHA BOAT,2,6.0,16.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
2896,9121134,13.737947,71.479797,0.0,233.0,NaN,520,CLASS B,IN,20.0,ALLELUYA N NET188,2,6.0,12.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN
2897,10265266,12.715636,72.070992,2.0,0.0,0.0,870,CLASS B,IN,10.0,QUEEN OF HEAVEN NET2,0,6.0,6.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
2898,9898940,10.872447,75.453323,1.0,297.0,297.0,134,CLASS B,IN,0.0,ALANGARAMATHA N1 91,2,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df_final = df[(df.SHIPTYPE == 8) & (df.GT_SHIPTYPE >= 70)]

In [10]:
df_final

,SHIP_ID,LAT,LON,SPEED,COURSE,HEADING,ELAPSED,DESTINATION,FLAG,LENGTH,SHIPNAME,SHIPTYPE,WIDTH,L_FORE,W_LEFT,ROT,DWT,GT_SHIPTYPE,TYPE_IMG,TYPE_NAME,STATUS_NAME
12,4385468,21.616756,68.793381,5.0,34.0,359.0,7,INVAD,MT,276.0,ANTIGUA I,8,48.0,225.0,42.0,0.0,157391.0,71.0,NaN,NaN,NaN
19,555604,21.955326,68.742577,1.0,299.0,230.0,7,INVDN,SL,244.0,TIBURON,8,42.0,200.0,32.0,0.0,109571.0,71.0,NaN,NaN,NaN
36,5871848,21.753918,68.449768,130.0,159.0,159.0,101,CNHUI,GB,228.0,ORANGE VICTORIA,8,38.0,196.0,24.0,0.0,77430.0,88.0,NaN,NaN,NaN
38,729348,22.640388,69.948425,3.0,99.0,3.0,3,SIKKA,SG,228.0,PM CROWN,8,32.0,189.0,21.0,0.0,76604.0,71.0,NaN,NaN,NaN
42,757479,22.002010,68.843094,103.0,343.0,342.0,2,VADINAR,PA,227.0,NILE,8,32.0,192.0,20.0,0.0,72664.0,71.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2321,992760,20.850328,71.571999,0.0,358.0,49.0,7,"IN, PAV",SG,119.0,EPIC SENTOSA,8,21.0,98.0,17.0,-2.0,9052.0,195.0,NaN,NaN,NaN
2322,194690,17.857080,71.186989,128.0,298.0,302.0,802,INRNR>QAUMS,SG,115.0,LEONORA KOSAN,8,18.0,90.0,10.0,-3.0,8545.0,195.0,NaN,NaN,NaN
2354,8859095,16.381308,67.863266,6.0,234.0,283.0,512,FOR ORDER,HN,109.0,LONG MEI,8,15.0,89.0,12.0,0.0,5000.0,71.0,NaN,NaN,NaN
2361,664327,15.027105,66.477867,86.0,144.0,NaN,735,MV MLE,CM,101.0,HAWKS JAVAAHIRU,8,15.0,75.0,9.0,NaN,4985.0,71.0,NaN,NaN,NaN
2411,655878,21.157701,72.675285,0.0,69.0,270.0,3,RIL JETTEY MAGDALLA,IN,90.0,RELGAS ISHETA,8,15.0,73.0,11.0,0.0,2628.0,195.0,NaN,NaN,NaN

In [11]:
df_final = df_final[(df_final.LAT > 24.0) & (df_final.LON < 58.0)]

In [12]:
df_final

,SHIP_ID,LAT,LON,SPEED,COURSE,HEADING,ELAPSED,DESTINATION,FLAG,LENGTH,SHIPNAME,SHIPTYPE,WIDTH,L_FORE,W_LEFT,ROT,DWT,GT_SHIPTYPE,TYPE_IMG,TYPE_NAME,STATUS_NAME
433,9952487,25.983418,56.856281,0.0,242.0,242.0,67,FOR ORDER,TO,228.0,BRIVE,8,32.0,121.0,16.0,0.0,74999.0,88.0,NaN,NaN,NaN
442,5193035,24.579329,56.648533,0.0,136.0,28.0,9,OM SOH,MH,219.0,PACIFIC MARTINA,8,38.0,179.0,16.0,NaN,74356.0,88.0,NaN,NaN,NaN
447,714345,24.746080,56.536381,0.0,153.0,22.0,9,SHINAS,CM,228.0,AGNI,8,32.0,190.0,10.0,NaN,73673.0,71.0,NaN,NaN,NaN
450,726479,25.357651,56.440666,0.0,243.0,40.0,6,KHORFAKKAN IN,SG,227.0,EM ZENITH,8,32.0,190.0,10.0,NaN,72660.0,71.0,NaN,NaN,NaN
509,753622,25.663824,57.055840,1.0,267.0,344.0,7,KHOR FAKKAN OPL,CW,183.0,SHEN ZHOU,8,32.0,148.0,16.0,NaN,51303.0,88.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1225,712801,25.883307,54.177692,0.0,301.0,302.0,14,AE HAM,PA,109.0,KASSIA,8,18.0,90.0,10.0,0.0,6790.0,88.0,NaN,NaN,NaN
1251,561488,26.044807,56.579006,73.0,184.0,182.0,2,KHOR FAKKAN,KN,98.0,LILAC,8,15.0,78.0,6.0,0.0,4980.0,71.0,NaN,NaN,NaN
1273,8786487,25.473209,55.178188,8.0,86.0,NaN,121,WAITING FOR ORDER,GM,95.0,NUHA,8,13.0,70.0,10.0,NaN,4111.0,71.0,NaN,NaN,NaN
1315,766163,25.498449,53.958523,61.0,292.0,NaN,35,TO ORDER,KM,89.0,RAZEEN QUEEN 1,8,13.0,78.0,8.0,NaN,3204.0,71.0,NaN,NaN,NaN
1342,507755,24.855259,56.569527,3.0,90.0,NaN,59,KFK,CW,88.0,SIERRA,8,13.0,17.0,4.0,NaN,2450.0,88.0,NaN,NaN,NaN